.movieDetailsWrapper {
  max-width: 1200px;
  margin: 20px auto 0px;
}

.title {
  text-align: center;
}

.poster {
  max-width: 300px;
  position: relative;
  display: inline-block;

  img {
    border: 1px solid rgb(95, 95, 95);
    border-radius: 10px;
    display: block;
    position: relative;
    z-index: 1;
  }
}

.movieDetailsList {
  max-width: 1000px;
  margin: 0 auto;

  background: rgba(212, 212, 212, 0.15);
  border-radius: 8px;
  padding: 30px 40px;
  margin-top: 20px;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: left;
}

.movieDescriptionList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;

  span {
    color: rgb(95, 95, 95);
    font-weight: 500;
    margin-left: 5px;
  }
}

.genresList {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
}

.genresList::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(212, 212, 212, 0.3);
}

.overview {
  max-width: 400px;
  padding-bottom: 10px;
  position: relative;
}

.overview::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(212, 212, 212, 0.3);
}

.homePageItem a {
  padding: 8px 10px;
  color: rgb(230, 230, 230);
  background: #5a5fb5;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.homePageItem a:hover {
  background: #494d9e;
}

.additionalInfoButtons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  a {
    font-weight: 700;
    color: #5a5fb5;
    font-size: 18px;
  }
}

.link {
  transition: all 0.3s ease;
}

.link:hover {
  color: #494d9e;
}

.vote {
  padding: 8px;
  border-radius: 50%;
}

.low {
  border: 2px solid rgb(174, 40, 16);
}

.middle {
  border: 2px solid rgb(198, 207, 62);
}

.high {
  border: 2px solid rgb(15, 182, 9);
}
