.item {
  position: relative;
  color: rgb(230, 230, 230);
  overflow: hidden;
  align-self: stretch;
  flex: 1 1 275px;
  max-width: 300px;
  border: none;
  border-radius: 12px;
  background: rgb(59, 29, 62) 23%;
}

.item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  pointer-events: none;
}

.item img {
  overflow: hidden;
  margin: 0 auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.details {
  position: relative;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px 8px 12px 8px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.vote {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 14px;
  background: radial-gradient(circle, #00000080 0%, #ffffff00 100%);
}

.low {
  border: 2px solid rgb(174, 40, 16);
}

.middle {
  border: 2px solid rgb(198, 207, 62);
}

.high {
  border: 2px solid rgb(15, 182, 9);
}

.release {
  color: rgba(212, 212, 212, 0.3);
}

.title {
  font-size: 18px;
  font-weight: 600;
}
